# ignore .pdf files and potential LaTeX outputs:
#*.pdf
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.bcf
*.synctex.gz
*.run.xml
*.snm
*.nav

# release .zip
*.zip

# old versions archive
old/*

# latex library file backups
*.bib.bak
*.bib.sav
*.bib.sav.bak

# procedural octave remains
octave-workspace

# compiled python code
*.pyc

# jupyter trash
aux/.ipynb_checkpoints/*
.ipynb_checkpoints/*

# helper dev scripts
src/dev.py

# untrack the jupyter notebook
solensim.ipynb

# untrack presentation
tex/Presentation/*
