# ignore .pdf files and potential LaTeX outputs:
#*.pdf
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.bcf
*.synctex.gz
*.run.xml
*.snm
*.nav

# release .zip
*.zip

# old versions archive
old/*

# latex library file backups
*.bib.bak
*.bib.sav
*.bib.sav.bak

# procedural octave remains
octave-workspace

# compiled python code
*.pyc

# jupyter trash
aux/.ipynb_checkpoints/*
.ipynb_checkpoints/*

# Acc101 Presentation & Figures
tex/Acc101_Prezi/*

# untrack the jupyter notebook
solensim.ipynb

# Astra:
# don't track astra executables
src/plugins/astra/Astra
src/plugins/astra/generator
# don't track example files
src/plugins/astra/example/*
# NORRAN
src/plugins/astra/NORRAN
# Manual:
tex/Astra-Manual_V3.2.pdf
