# ignore .pdf files and potential LaTeX outputs:
#*.pdf
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.bcf
*.synctex.gz
*.run.xml
*.snm
*.nav

# release .zip
*.zip

# old versions archive
old

# latex library file backups
*.bib.bak
*.bib.sav
*.bib.sav.bak

# procedural octave remains
octave-workspace
# compiled python code
*.pyc
# jupyter trash
aux/.ipynb_checkpoints
.ipynb_checkpoints

# Acc101 Presentation & Figures
tex/Acc101_Prezi
# Bachelorarbeit
src/ba.py
tex/lib

# untrack the jupyter notebook
solensim.ipynb

# workspace:
src/workspace/*

# Astra:
# don't track astra executables & workfiles
src/plugins/astra/workspace/Astra
src/plugins/astra/workspace/generator
src/plugins/astra/workspace/*.dat
src/plugins/astra/workspace/*.ini
src/plugins/astra/workspace/*.in
src/plugins/astra/workspace/run.*
src/plugins/astra/workspace/NORRAN






# Manual:
tex/Astra-Manual_V3.2.pdf
